/*-- scss:defaults --*/

/*-- scss:rules --*/
.quarto-title-banner, .quarto-title-banner h1{
  background-color: transparent !important;
  color: $brand-black;
}

.radio-group {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.radio-row input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0); /* For older browsers */
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.radio-row label {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.15em solid $brand-neutral_light_l1;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
  width: 100%;
  margin: 0.25em 0;
}

.radio-row label:hover {
  background-color: $brand-neutral_light_l1;
  border-color: $brand-neutral_light;
}

.radio-row input[type="radio"]:checked + label {
  background-color: $brand-main;
  color: $brand-white;
  border-color: lighten($brand-main, 70%);
}

.submit-btn {
  background-color: $brand-neutral_dark;
  color: $brand-white;
  padding: .25em 1em;
  border: .15em solid $brand-neutral_dark_l1;
  border-radius: .25em;
  margin: 0.25em 0;
  width: 100%;
}