/*-- scss:defaults --*/

/*-- scss:rules --*/
.quarto-title-banner, .quarto-title-banner h1{
  background-color: transparent !important;
  color: $brand-black;
}

.cell-output-stdout {
  height: 400px;
  overflow-y: auto;
}